/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h3 {
    margin: 0;
}

/****** Header ***********/

.logo-liens {
    display: flex;
    justify-content: space-between;
    padding: 0 0px 30px 0px;
}

.logo {
    width: 61px;
    margin: 0;
    padding-top: 30px;
}

nav {
    display: flex;
    height: 100%;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    gap: 68px;
    margin: 0;
}

.nav-link {
    margin: 0;
    padding-top: 16px;
    border-top: 2px solid transparent;
    height: 100%;
}

.nav-link.active,
.nav-link:hover {
    /* Indique que la barre bleue apparaît quand les liens sont actifs et quand la souris passe dessus */
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.title {
    margin-bottom: 30px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.accroche {
    font-size: 16px;
    margin: 0;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

form>div {
    min-width: 50px;
    height: 100%;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    width: 100%;
    max-width: 195px;
    height: 50px;
    background-color: white;
    border: 0px;
    border: 1px solid #F2F2F2;
    padding: 0 0 0 10px;
    font-size: 18px;
    outline: none;
    font-weight: 700;
}


.submit {
    width: 132px;
    height: 50px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer;
    /* Pour indiquer une main par-dessus le bouton Rechercher */
}

form>.fa-solid {
    display: none;
}

form>div>.fa-solid {
    color: black;
}

/*  Ajouter > quand on veut modifier une classe dans une classe
pour éviter que toutes les classes identiques soient impactées.
Pas indispensable mais recommandé.
À utiliser seulement pour une classe DANS une autre classe. */

.filtres {
    display: flex;
    /* flex-wrap: wrap; */
    /* Pour que les boutons aillent à la ligne et ne soient pas déformés */
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.filtres>span {
    font-size: 17px;
    font-weight: 700;
}

.filtres-boutons, .filtres-boutons-1, .filtres-boutons-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
}

button:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    gap: 10px;
}

.info>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.info>div>.fa-solid {
    font-size: 10px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires>section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .section-title {
    padding: 10px 0 0 10px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    /* Grid permet d'avoir un alignement plus rapide que flex */
    grid-gap: 1rem;
    /* Gap en rem ou em permet de conserver les proportions */
    margin-top: 30px;
}

.hebergements-cards .card {
    margin: 7px;
}

.hebergements-cards img {
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    /* Object-fit : Pour que les photos apparaissent non écrasées */
    object-position: center;
}

.hebergements-cards .card-title {
    margin: 0;
    margin-top: 5px;
    white-space: wrap;
    /* Permet d'avoir les cartes à la même largeur */
    margin-bottom: 4px;
    font-size: 1rem;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    font-size: 14px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-subtitle {
    max-width: 100%;
    margin: 5px 0 8px 0;
}

.show-more {
    margin: 0 0 10px 10px;
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.populaires-cards .card-content {
    width: 67%;
    padding: 0 10px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.h3-activites {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
}

.activites .section-title {
    padding: 60px 0px 30px 0px;
}

.activites-card {
    display: flex;
    gap: 30px;
}

.card-activites {
    width: 100%;
    height: 439px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 60px;
}

.activites-card img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites .card-title {
    padding-left: 20px;
}


/********** Footer ***********/

footer {
    display: flex;
    flex-direction: row;
    /* Pour placer les catégories sur la même ligne */
    background-color: var(--main-bg-color);
    padding-left: 20px;
}

.footer-section {
    width: 33%;
    gap: 30px;
}

.h3-footer {
    line-height: 10px;
    margin: 30px 0px 10px 0px;
}

.p-footer {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width:1024px) {
    /* La valeur maxi (1440) pour le desktop est précisée dans .main-container */

    .filtres {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    button>span {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-activites {
        height: 270px;
    }

    .card-activites img {
        height: 210px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {

    .main-container {
        padding: 0;
    }

    /* Header */

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo-liens {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: block;
        margin: 0px auto;
    }

    nav {
        display: flex;
        flex-wrap: nowrap;
        margin: 20px 0 0 0;
        gap: 0;
    }

    .nav-link,
    .nav-link.active,
    .nav-link:hover {
        width: 100%;
        text-align: center;
        border-top: none;
        padding-bottom: 15px;
    }

    .nav-link.active,
    .nav-link:hover {
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }

    .nav-link {
        border-bottom: 2px solid #F2F2F2;
    }

    h1,
    .accroche,
    form,
    .filtres>h3,
    .info {
        padding: 0 30px;
    }

    .search {
        max-width: none;
    }

    .submit {
        display: none;
    }

    form>.fa-solid {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        min-width: 50px;
        background-color: #0065FC;
        color: white;
        font-size: 17px;
        font-weight: 700;
        border-radius: 15px;
        cursor: pointer;
        filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
    }

    .filtres {
        display: flex;
        align-items: stretch;
    }

    .filtres-boutons {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 50px;
        gap: 10px;
    }

    .filtres-boutons-1, .filtres-boutons-2 {
        flex-direction: row;
    }

    button {
        width: 190px;
    }

    button>span {
        font-size: 14px;
    }

    .info {
        margin-top: 10px;
    }

    .fa-info {
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hébergements et Populaires */

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires>section {
        border-radius: 0;
    }

    .populaires {
        width: 100%;
        margin-top: 0;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 15px;
    }

    .populaires-cards {
        width: 100%;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    #hebergements {
        background-color: white;
    }

    .hebergements-cards {
        margin-top: 10px;
        gap: 0;
    }

    .hebergements-cards {
        grid-template-columns: repeat(1, 6fr);
    }

    /* Activités */

    .activites {
        padding: 0 30px;
    }

    .activites-card {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .card-activites {
        margin-bottom: 0;
    }

    /* Footer */

    footer {
        flex-direction: column;
    }

    .footer-section {
        width: 100%;
    }

}